* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #15171c;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: #22252D;
    width: 300px;
    height: 50%;
    border-radius: 20px;
}

#container-buttons {
    background-color: #292D36;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    border-radius: 20px 20px;
    gap: 5px;
    margin-top: 30px;
}

.button {
    background-color: #252830;
    border: none;
    color: #ffffff;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 10px;
}

.button:hover {
    background-color: #191b1f;
    transition: 0.5s;
}

.green {
    color: #26F4D0;
}

.red {
    color: #F47A7A;
}

#operation {
    margin-top: 50px;
    font-size: 18px;
}

#result {
    margin-top: 10px;
    font-size: 24px;
}

#operation, #result {
    height: 40px;
    color: #ffffff;
    text-align: right;
    margin-right: 30px;
    letter-spacing: 3px;
}
